{# Template Parts #}
{% extends "Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('account_change_password_title'|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <a href="{{ app.session.get('backUrl') }}" class="back-icon"><i class="material-icons">arrow_back</i></a>
    <span class="text">{{ 'account_change_password_title'|trans }}</span>
    <span class="desc">{{ user.profile.firstname ~' '~ user.profile.lastname }} - {{ user.email }}</span>
{% endblock %}

{# Content Navigation #}
{% block content_nav %}{{ pd_menu_render('App\\Menu\\AccountMenu', { 'user': user.id }) }}{% endblock %}

{# Content Body #}
{% block content_body %}
    <div class="content-form">
        {{ form_start(form, { 'action': app.request.requestUri }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
