{# Template Parts #}
{% extends "admin/layout/base.html.twig" %}
{% block head_title %}{{ title('account.title'|trans) }}{% endblock %}
{% block content_title %}<i class="fas fa-user-shield"></i>{{ 'account.title'|trans }}{% endblock %}

{# Content Body #}
{% block content_body %}
    <content-menu>{{ pd_menu_render('App\\Menu\\NavAccount', { 'item': item.id }) }}</content-menu>

    <div class="forms">
        {% if form.acl is not defined %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        {% else %}
            {% include "Admin/Account/rolesTemplate.html.twig" %}
        {% endif %}
    </div>
{% endblock %}
