{# Template Parts #}
{% extends "admin/layout/base.html.twig" %}
{% block head_title %}{{ title('accounts.group.title'|trans) }}{% endblock %}
{% block content_title %}<i class="fas fa-user-shield"></i>{{ 'accounts.group.title'|trans }}{% endblock %}

{# Content Body #}
{% block content_body %}
    <ajax-form ref="former" message="{{ 'message.saved'|trans }}"></ajax-form>
    <datatable
        data-api="{{ url('admin.group_list') }}"
        data-column="{{ table.columnsJson|url_encode }}"
        data-sort-api="{{ url('admin.data_table') }}"
        data-sort-table="{{ table.name }}"
        sort-field="q.id"
        ref="table"
    >
        <template v-slot:actions="{item, index, remove}">
            <li><a class="dropdown-item" @click.prevent="$refs.former.get(route('{{ route('admin.group_edit') }}', {'{group}': item.id}), '{{ 'accounts.group.edit_title'|trans }}', index)"><i class="fas fa-user-edit"></i>{{ 'button.edit'|trans }}</a></li>
            <li><a class="dropdown-item" @click.prevent="$refs.former.get(route('{{ route('admin.group_roles') }}', {'{group}': item.id}), '{{ 'accounts.group.roles'|trans }}', index)"><i class="fas fa-user-lock"></i>{{ 'accounts.group.roles'|trans }}</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item text-danger" v-confirm="'danger'" data-msg="{{ 'confirm.delete'|trans }}"
                   data-yes="{{ 'button.yes'|trans }}" data-no="{{ 'button.cancel'|trans }}"
                   @confirmed="del(item, index, remove)"><i class="fas fa-trash"></i>{{ 'button.delete'|trans }}</a>
            </li>
        </template>
        <template v-slot:header-left>
            <a @click.prevent="$refs.former.get('{{ path('admin.group_create') }}', '{{ 'accounts.group.add_title'|trans }}', 'append')" class="btn btn-sm btn-primary"><i class="fas fa-plus"></i>{{ 'accounts.group.add'|trans }}</a>
        </template>
    </datatable>

    <script data-type="vue">
        window.vueApp.push({
            methods: {
                del(item, index, remove) {
                    this.$root.http.delete(this.route('{{ route('admin.group_delete') }}', {'{group}': item.id}))
                        .then((resp) => {
                            remove(index);
                            this.$root.msg.success('{{ 'message.deleted'|trans }}')
                        })
                }
            }
        })
    </script>
{% endblock %}

