{{ form_start(form) }}
<div id="accordion" class="accordion accordion-menu mb-3" role="tablist">
    {% if form.acl is defined %}
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title"><a data-toggle="collapse" data-target="#acl" href="#">{{ 'ACL.title'|trans }}</a></h4>
            </div>
            <div id="acl" data-parent="#accordion" class="panel-collapse collapse">
                <div class="panel-content">
                    {% for acl in form.acl.children %}
                        {{ form_widget(acl) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
    {% if form.aclprocess is defined %}
        {% for item in form.aclprocess.vars.choices %}
            <div class="panel">
                <div class="panel-heading">
                    <h4 class="panel-title"><a data-toggle="collapse" data-target="#aclprocess" href="#">{{ 'ACLProcess.title'|trans }}</a>
                    </h4>
                </div>
                <div id="aclprocess" data-parent="#accordion" class="panel-collapse collapse">
                    <div class="panel-content">
                        {% for aclprocess in form.aclprocess.children %}
                            {{ form_widget(aclprocess) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <hr>
    {% endif %}
    {% for item in form.roles.vars.choices %}
        <div class="panel">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#{{ item.label }}" href="#">
                        {{ (item.label ~ '.title')|trans }}
                        <span class="badge badge-primary float-right text-white">{{ item.choices|length }}</span>
                    </a>
                </h4>
            </div>
            <div id="{{ item.label }}" data-parent="#accordion" class="panel-collapse collapse">
                <div class="panel-content">
                    {% for child in item.choices %}
                        {{ form_widget(form.roles.children[child.value]) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{{ form_widget(form.submit) }}
{{ form_end(form) }}

<script>
    $(function () {
        $('[name="roles[acl]"]').change(function () {
            var val = $(this).val();
            var selector = '.accordion-menu input[type*=checkbox], .accordion-menu input[name*="aclprocess"]';

            // Disable Admin Access to ROLE_USER
            if (val === 'ROLE_SUPER_ADMIN') {
                $.each($(selector), function (index, el) {
                    $(el).attr('disabled', true)
                })
            } else {
                $.each($(selector), function (index, el) {
                    $(el).attr('disabled', false)
                })
            }
        });
        $('[name="roles[acl]"]:checked').trigger('change');
    })
</script>
