{{ form_start(form) }}
    <div class="accordion roles-accordion mb-3" id="rolesAccordion">
        {% if form.acl is defined %}
            <div class="accordion-item">
                <h4 class="accordion-header"><a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#acl" href="#">{{ 'ACL.title'|trans([], 'acl') }}</a></h4>
                <div id="acl" data-bs-parent="#rolesAccordion" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% for acl in form.acl.children %}
                            {{ form_widget(acl) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}

        {% if form.aclProcess is defined %}
            {% for item in form.aclProcess.vars.choices %}
                <div class="accordion-item">
                    <h4 class="accordion-header"><a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#aclProcess" href="#">{{ 'ACLProcess.title'|trans([], 'acl') }}</a></h4>
                    <div id="aclProcess" data-bs-parent="#rolesAccordion" class="accordion-collapse collapse">
                        <div class="accordion-body">
                            {% for aclProcess in form.aclProcess.children %}
                                {{ form_widget(aclProcess) }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% for item in form.roles.vars.choices %}
            <div class="accordion-item">
                <h4 class="accordion-header">
                    <a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#{{ item.label }}" href="#">
                        {{ (item.label ~ '.title')|trans([], 'acl') }}
                        <span class="badge badge-primary float-right text-white">{{ item.choices|length }}</span>
                    </a>
                </h4>
                <div id="{{ item.label }}" data-bs-parent="#rolesAccordion" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        {% for child in item.choices %}
                            {{ form_widget(form.roles.children[child.value]) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{{ form_widget(form.submit) }}
{{ form_end(form) }}
