{# Template Parts #}
{% extends "@Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('mail_manager_list') }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'mail_manager_list'|trans }}</span>
    <span class="desc">{{ 'mail_manager_list_desc'|trans }}</span>
{% endblock %}

{# Content Navigation #}
{% block content_nav %}{{ pd_menu_render('App\\Admin\\Menu\\MailManagerMenu') }}{% endblock %}

{# Content Body #}
{% block content_body %}
    <!-- Action Button -->
    <div id="actions"></div>

    <!-- Table List -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="check">#</th>
                <th class="wid-35">{{ knp_pagination_sortable(templates, 'mail_manager_subject'|trans, 'm.subject') }}</th>
                <th class="wid-35">{{ knp_pagination_sortable(templates, 'mail_contentid'|trans, 'm.contentId') }}</th>
                <th class="wid-30">{{ knp_pagination_sortable(templates, 'mail_language'|trans, 'm.language') }}</th>
                <th class="process"></th>
            </tr>
            </thead>

            <tbody>
            {% for template in templates %}
                <tr>
                    <td class="check"><span class="badge rounded-circle {{ template.status ? 'badge-success' : 'badge-danger' }}" data-tooltip title="{{ template.status ? 'enabled'|trans : 'disabled'|trans }}">&nbsp;&nbsp;&nbsp;</span></td>
                    <td class="wid-35">{{ template.subject }}</td>
                    <td class="wid-35">{{ template.contentid }}</td>
                    <td class="wid-30">{{ template.language|upper }}</td>
                    <td class="process">
                        <div class="floating-menu">
                            <a><i class="material-icons">more_horiz</i></a>
                            <ul>
                                <li><a data-modal="confirm" href="{{ path('admin_mail_template_delete', {'id': template.id}) }}" data-tooltip title="{{ 'delete'|trans }}"
                                       class="text-danger"><i class="material-icons">delete</i></a>
                                </li>
                                <li><a href="{{ path('admin_mail_template_activate',{'id':template.id}) }}" class="{{ template.status ? 'text-success' }}" data-tooltip title="{{ 'activate_deactivate'|trans }}"><i class="material-icons">check_circle</i></a>
                                </li>
                                <li><a href="{{ path('admin_mail_template_edit',{'id':template.id}) }}" data-tooltip title="{{ 'edit'|trans }}"><i class="material-icons">mode_edit</i></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination -->
    {{ knp_pagination_render(templates) }}
{% endblock %}
