{# Template Parts #}
{% extends "@Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('mail_manager_logger') }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ 'mail_manager_logger'|trans }}</span>
    <span class="desc">{{ 'mail_manager_logger_desc'|trans }}</span>
{% endblock %}

{# Content Navigation #}
{% block content_nav %}{{ pd_menu_render('App\\Admin\\Menu\\MailManagerMenu') }}{% endblock %}

{# Content Body #}
{% block content_body %}
    <!-- Action Button -->
    <div id="actions">
        <div class="btn-group">
            <button class="btn btn-danger" data-href="{{ path('admin_mail_logdelete') }}" data-modal="confirm-form" data-form="#pageForm"><i class="material-icons">delete_forever</i></button>
        </div>
    </div>

    <!-- Table List -->
    <form id="pageForm" action="#" method="post">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="check">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" data-select-all="form">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description"></span>
                        </label>
                    </th>
                    <th class="wid-25">{{ knp_pagination_sortable(maillogs, 'mail_subject'|trans, 'm.subject') }}</th>
                    <th class="wid-25">{{ knp_pagination_sortable(maillogs, 'mail_to'|trans, 'm.mTo') }}</th>
                    <th class="wid-20">{{ knp_pagination_sortable(maillogs, 'date'|trans, 'm.date') }}</th>
                    <th class="process">#</th>
                    <th class="process"></th>
                </tr>
                </thead>

                <tbody>
                {% for log in maillogs %}
                    <tr>
                        <td class="check">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" id="c{{ log.id }}" value="{{ log.id }}" name="id[]" class="custom-control-input check-all">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description"></span>
                            </label>
                        </td>
                        <td class="wid-25">{{ log.subject }}</td>
                        <td class="wid-25">{% for to in log.mTo|keys %}{{ to }}{% endfor %}</td>
                        <td class="wid-20">{{ log.date|timeDiff }}</td>
                        <td class="process"><span class="badge rounded-circle badge-{{ log.status|swiftEvent(true) }}" data-toggle="tooltip" data-tooltip title="{{ log.status|swiftEvent(false) }}">&nbsp;&nbsp;</span></td>
                        <td class="process">
                            <div class="floating-menu">
                                <a><i class="material-icons">more_horiz</i></a>
                                <ul id="processMenu">
                                    <li><a href="{{ path('admin_mail_logdelete', {'mailLog': log.id}) }}" class="text-danger" data-modal="confirm" data-tooltip title="{{ 'delete'|trans }}"><i class="material-icons">delete</i></a></li>
                                    <li><a href="{{ path('admin_mail_template_add', {'id': log.id}) }}" data-tooltip title="{{ 'create_mail_template'|trans }}"><i class="material-icons">email</i></a></li>
                                    <li><a href="{{ path('admin_mail_logview', {'id': log.id}) }}" data-tooltip title="{{ 'view_log'|trans }}" data-toggle="modal" data-target="#viewLog"><i class="material-icons">remove_red_eye</i></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </form>

    <!-- Pagination -->
    {{ knp_pagination_render(maillogs) }}

    <!-- Log Viewer Modal Template -->
    <div id="viewLog" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"><h4><i class="material-icons">remove_red_eye</i>{{ 'mail_manager_logview'|trans }}</h4></div>
                <div class="modal-body col-"></div>
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-light" data-dismiss="modal">{{ 'close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
      $('#viewLog').on('shown.bs.modal', function (event) {
        // Focus Close Button
        $(this).find('[data-dismiss]').trigger('focus');

        // Get Clicked Button
        var button = $(event.relatedTarget);

        // Find and Clear Modal Body
        var modalBody = $(this).find('.modal-body');
        modalBody.html('');

        // Get Ajax Data
        $.getJSON(button.attr('href'), function (data) {
          $.each(data, function (key, val) {
            modalBody.append('<div class="row"><label class="col-4 text-sm-right">' + key + '</label><div class="col-8 word-break">' + val + '</div></div>')
          })
        });
      })
    </script>
{% endblock %}
