{# Template Parts #}
{% extends "@Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title(title|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <a href="{{ app.session.get('backUrl') }}" class="back-icon"><i class="material-icons">arrow_back</i></a>
    <span class="text">{{ title|trans }}</span>
    <span class="desc">{{ description|trans({'%s': form.contentId.vars.data}) }}</span>
    <a href="#" class="addbtn btn-primary" data-tooltip title="{{ 'mail_manager_add_template'|trans }}" onclick="setTemplate()"><i class="material-icons">code</i></a>
{% endblock %}

{# Content Navigation #}
{% block content_nav %}{{ pd_menu_render('App\\Admin\\Menu\\MailManagerMenu') }}{% endblock %}

{# Content Body #}
{% block content_body %}
    {# View Parameters #}
    <div class="alert alert-primary code-description">
        <h6>{{ 'mail_manager_using_variable'|trans }}</h6>
        <hr>
        {% for key,val in objects %}
            <code><var>{{ key }}:</var></code> {{ val }}<br/>
        {% endfor %}
    </div>

    {# Forms #}
    <div class="content-form">
        {{ form_start(form, { 'action': app.request.getRequestUri() }) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

    {# Preview Mail Template #}
    <div class="modal fade" id="previewModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header"><h4 class="modal-title">{{ 'mail_manager_template_preview'|trans }}</h4></div>
                <div class="modal-body">
                    <iframe id="email-preview" frameborder="0" width="100%" style="border-radius: 2px"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('plugin/ace/ace.js', 'admin') }}"></script>

    <script type="text/javascript">
      var editor;

      $(document).ready(function () {
        setTimeout(function () {
          var textarea = document.getElementById("mail_template_form_template");

          // Hide Textarea
          textarea.style.display = "none";

          // Get Config
          var uID = Math.floor(Math.random() * 1000);

          // Add Editor Area
          $(textarea).after("<div class=\"editor-area\"><div class=\"editor\" id=\"editor" + uID + "\"></div><div class=\"buttons\"><a href=\"#\" class=\"full-screen\"><i class=\"material-icons\">fullscreen</i></a><a href=\"#\" class=\"wraptext\"><i class=\"material-icons\">wrap_text</i></a><a href=\"#\" class=\"invertcolor\"><i class=\"material-icons\">invert_colors</i></a><a href=\"#\" data-toggle=\"modal\" data-target=\"#previewModal\"><i class=\"material-icons\">remove_red_eye</i></a></div></div>");

          // Start & COnfig Ace
          editor = ace.edit("editor" + uID);
          editor.setShowPrintMargin(false);
          editor.getSession().setMode("ace/mode/twig");
          editor.getSession().setUseWrapMode(true);
          editor.getSession().setValue(textarea.value);
          editor.getSession().on("change", function () {
            textarea.value = editor.getSession().getValue();
          });

          // Add Button Events
          $(".editor-area .full-screen").click(function (e) {
            e.preventDefault();
            $(this).closest(".editor-area").toggleClass("fullscreen");
            editor.resize();
          });

          $(".editor-area .wraptext").click(function (e) {
            e.preventDefault();
            editor.getSession().setUseWrapMode(!editor.getSession().getUseWrapMode());
          })

          $(".editor-area .invertcolor").click(function (e) {
            e.preventDefault();

            if (editor.getTheme() === "ace/theme/monokai") {
              editor.setTheme("");
            } else {
              editor.setTheme("ace/theme/monokai");
            }
          })
        }, 0);

        // Preview Process
        function getDocHeight(D) {
          D = D || document;

          return Math.max(
            Math.max(D.body.scrollHeight, D.documentElement.scrollHeight),
            Math.max(D.body.offsetHeight, D.documentElement.offsetHeight),
            Math.max(D.body.clientHeight, D.documentElement.clientHeight)
          ) + 50;
        }

        function templatePreview() {
          var ifrm = document.getElementById("email-preview");
          var doc = ifrm.contentDocument ? ifrm.contentDocument : ifrm.contentWindow.document;

          doc.write($("#mail_template_form_template").val());
          doc.close();

          setTimeout(function () {
            ifrm.style.height = getDocHeight(doc) + "px";
          }, 200);
        }

        $("#previewModal").on("show.bs.modal", function () {
          templatePreview();
        });
      })

      /**
       * Set Default Template
       */
      function setTemplate() {
        $.ajax({
            url: "{{ defaultTemplate }}",
            success: function (data) {
              editor.setValue(data);
            }
        })
      }
    </script>
{% endblock %}
