{% extends "@Auth/base.html.twig" %}

{% block head_title %}{{ title('security.resetpw_title'|trans) }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="auth resetting">
            <!-- Logo -->
            {% include '@Auth/logo.html.twig' %}

            <!-- Resetting Form -->
            {{ form_start(form) }}
                <div class="header">
                    <h2 class="title">{{ 'security.resetpw_title'|trans }}</h2>
                    <div class="float-icon">
                        <a href="{{ path('security_login') }}" class="add" data-toggle="tooltip" title="{{ 'security.login_title'|trans }}"><i class="material-icons">security</i></a>
                    </div>
                </div>

                {{ form_widget(form) }}

                <div class="row mt-4">
                    <div class="col-sm-12 col-xs-12 text-center">
                        <button type="submit" id="reset_password_submit" class="btn btn-primary btn-lg btn">{{ 'security.resetpw_title'|trans }}</button>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
