<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Meta #}
    <title>{% block head_title %}{{ bag.get('head_title') }}{% endblock %}</title>
    <meta name="description" content="{{ bag.get('head_description') }}"/>
    <meta name="keywords" content="{{ bag.get('head_keywords') }}"/>
    <meta name="author" content="{{ bag.get('head_author') }}"/>
    <link rel="icon" href="{{ asset(bag.get('site_favicon'), 'upload') }}">

    {# Assets #}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="{{ asset('vendor.css', 'admin') }}">
    <link rel="stylesheet" href="{{ asset('app.css', 'admin') }}">
    <script src="{{ asset('vendor.js', 'admin') }}"></script>
    <script src="{{ asset('app.js', 'admin') }}"></script>

    {# Head Block #}
    {% block head %}{% endblock %}

    {# JS Language #}
    <script>
      const lang = {
        btn_close: "{{ 'close'|trans }}",
        btn_yes: "{{ 'yes'|trans }}",
        search_text: "{{ 'search'|trans }}",
        search_placeholder: "{{ 'select_item'|trans }}",
        select_caption: "{{ 'selected'|trans({'%s':'0'}) }}",
        select_caption_all: "{{ 'selected_all'|trans({'%s': '0'}) }}",
        select_no_matches: "{{ 'no_matches'|trans({'%s': '0'}) }}",
        popup_delete_message: "{{ 'delete_message'|trans }}"
      }
    </script>
</head>
<body>
    {# Wrapper #}
    <section id="wrapper" class="container">
        {# Left Navigation #}
        <nav class="left-nav bg-gradient-primary">
            <div class="logo">
                <a href="{{ path('admin_dashboard') }}"><img src="{{ absolute_url(asset(bag.get('site_logo'), 'upload')) }}"></a>
            </div>

            <div id="nav_main">
                {% block nav_main %}{{ pd_menu_render('App\\Menu\\Navigation\\Main') }}{% endblock %}
            </div>
        </nav>

        {# Content Wrapper #}
        <section class="content-wrapper">
            {# Header #}
            <header class="container">
                <section class="wrap clearfix">
                    {# Search Form #}
                    <div id="search" class="float-left">
                        <input class="form-control" placeholder="{{ 'search_placeholder'|trans }}">
                        <button><i class="material-icons">search</i></button>
                    </div>

                    {# Profile Navigation #}
                    <nav id="nav_action" class="float-right">
                        {{ pd_menu_render('App\\Menu\\Navigation\\Toolbar', {
                            'user': app.getUser,
                            'locale': app.request.locale,
                            'active_language': bag.get('active_language')
                        }) }}
                    </nav>
                </section>
            </header>

            {# Content #}
            <section id="content_body">
                {# Content Title #}
                <div class="content-title">
                    <h2>
                        {% block content_head %}{% endblock %}
                    </h2>
                    {# Content Navigation #}
                    <nav id="content_nav" class="clearfix">
                        {% block content_nav %}{% endblock %}
                    </nav>
                </div>


                {# Content Alert #}
                <div class="content-alerts">
                    {% for label,message in app.session.flashBag.all %}
                        {% if label == 'error' %}{% set label = 'danger' %}{% endif %}
                        {% for msg in message %}
                            <div class="alert alert-{{ label }}">{{ msg|trans }}</div>
                        {% endfor %}
                    {% endfor %}
                </div>

                {# Content Body #}
                {% block content_body %}{% endblock %}
            </section>

            {# Footer #}
            <footer>
                <div class="content">
                    {{ bag.get('footer_copyright')|raw }}
                </div>
            </footer>
        </section>

        <div id="modals"></div>
    </section>

    {% block scripts %}{% endblock %}
</body>
</html>
