{% extends "Auth/base.html.twig" %}

{% block head_title %}{{ title('security.register_title'|trans) }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
        <h3 class="title">{{ 'security.register_title'|trans }}</h3>

        <!--Widgets-->
        <div class="mb-3">
            {{ form_label(form.email) }}
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-envelope"></i></span>
                {{ form_widget(form.email) }}
            </div>
            {{ form_errors(form.email) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.plainPassword.first) }}
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-lock"></i></span>
                {{ form_widget(form.plainPassword.first) }}
            </div>
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="mb-4">
            {{ form_label(form.plainPassword.second) }}
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-lock"></i></span>
                {{ form_widget(form.plainPassword.second) }}
            </div>
            {{ form_errors(form.plainPassword.second) }}
        </div>

        <!--Submit-->
        <div class="form-group">
            <button type="submit" class="btn w-100 btn-primary">{{ 'security.register_btn'|trans }}</button>
        </div>

        <!--Login-->
        <div class="w-100 text-center mt-3">
            <a href="{{ path('security_login') }}"><span class="text-muted">Already have an account?</span> <b>{{ 'security.login_btn'|trans }}</b></a>
        </div>
    {{ form_end(form) }}
{% endblock %}
