{% extends "Auth/base.html.twig" %}

{% block head_title %}{{ title('security.register_title'|trans) }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="auth register">
            <!-- Logo -->
            {% include 'Auth/logo.html.twig' %}

            {{ form_start(form) }}
                <div class="header">
                    <h2 class="title">{{ 'security.register_title'|trans }}</h2>
                    <div class="float-icon">
                        <a href="{{ path('security_login') }}" class="add" data-toggle="tooltip" title="{{ 'security.login_title'|trans }}"><i class="material-icons">security</i></a>
                        <a href="{{ path('security_resetting') }}" class="forgot" data-toggle="tooltip" title="{{ 'security.forgot_password'|trans }}"><i class="material-icons">email</i></a>
                    </div>
                </div>

                <div class="container-fluid">
                    {{ form_widget(form) }}
                    <div class="row">
                        <div class="col-sm-12 col-xs-12 text-center">
                            <button type="submit" id="register_submit" class="btn btn-primary btn-lg btn">{{ 'security.register_btn'|trans }}</button>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
