{% extends "auth/base.html.twig" %}

{% block head_title %}{{ title('security.register_title'|trans) }}{% endblock %}

{% block body %}
    <form action="{{ path("security_login") }}">
        <h3 class="title">{{ 'security.register_title'|trans }}</h3>

        <div class="mb-4">
            {% if user.isActive %}
                {{ 'security.register_success'|trans }}
            {% else %}
                {{ 'security.register_confirmed'|trans }}
            {% endif %}
        </div>

        <!--Submit-->
        <div class="form-group">
            <button type="submit" class="btn w-100 btn-primary">{{ 'security.login_btn'|trans }}</button>
        </div>
    </form>
{% endblock %}
