{% if pageCount > 1 %}
<div id="pagination">
    <ul class="pagination">
        {#{% if first is defined and current != first %}
            <li class="first page-item"><a class="page-link" @click.prevent="xhrGet($event)" href="{{ path(route, query|merge({(pageParameterName): first})) }}">&lt;&lt;</a></li>
        {% endif %}#}

        {% if previous is defined %}
            <li class="previous page-item"><a class="hidden-xs page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&lt;</a></li>
        {% else %}
            <li class="previous page-item disabled"><a class="hidden-xs page-link" href="#">&lt;</a></li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li class="page page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
            {% else %}
                <li class="current active page-item"><a class="page-link">{{ page }} <span class="sr-only">(current)</span></a></li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li class="next page-item"><a class="hidden-xs page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}">&gt;</a></li>
        {% else %}
            <li class="next page-item disabled"><a class="hidden-xs page-link" href="#">&gt;</a></li>
        {% endif %}

        {#{% if last is defined and current != last %}
            <li class="last page-item"><a class="page-link" @click.prevent="xhrGet($event)" href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a></li>
        {% endif %}#}
    </ul>
</div>
{% endif %}