<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {# Meta #}
    <title>{{ '404.title'|trans }}</title>
    <meta name="description" content="{{ bag.get('head_description') }}"/>
    <meta name="keywords" content="{{ bag.get('head_keywords') }}"/>
    <meta name="author" content="{{ bag.get('head_author') }}"/>
    <link rel="icon" href="{{ asset(bag.get('site_favicon'), 'upload') }}">

    {# Assets #}
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <link rel="stylesheet" href="{{ asset('build/admin/main.css') }}">
    <link rel="stylesheet" href="{{ asset('build/admin/app.css') }}">
</head>
<body class="d-flex">
    <section class="container align-self-center">
        <div class="d-flex flex-column text-center justify-content-center align-items-center">
            <h2 class="mb-3">{{ '404.title'|trans }}</h2>
            <p class="alert alert-danger">{{ '404.description'|trans }}</p>
            <p><a class="btn btn-primary" href="{{ path('admin.dashboard') }}">{{ 'go_home'|trans }}</a></p>
        </div>
    </section>
</body>
</html>
