<div class="widget full clean widget_{{ widget.id }}" data-order="{{ path('widget_order', {'widgetId': widget.id, 'order': '0'}) }}">
    {# Action Button #}
    {% embed 'admin/widgets/actions.html.twig' %}
        {% block add %}
            <li class="nav-item"><a href="#" v-modal="'quickActionModal'" class="nav-link"><i class="fas fa-plus"></i></a></li>
        {% endblock %}
    {% endembed %}

    {# Add Modal #}
    <modal id="quickActionModal" :slim="true" size="lg">
        <template v-slot:title><i class="fas fa-plus"></i>{{ 'widget.quick_action.add_button'|trans }}</template>
        <template v-slot:content="props">
            <table class="table table-hover table-striped mb-0">
                {% for index, item in widget.data.items %}
                    <tr>
                        <td class="text-left" style="width: 35%">{{ item.name|trans }}</td>
                        <td>{{ item.description|trans }}</td>
                        <td style="width: 45px">
                            {% if widget.config[index] is not defined %}
                                <a href="{{ path('widget_config', { 'widgetId': widget.id, 'id': index }) }}" class="close" v-tooltip
                                   title="{{ 'button.add'|trans }}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            {% else %}
                                <a href="{{ path('widget_config', { 'widgetId': widget.id, 'id': index, 'remove': true }) }}" class="close"
                                   v-tooltip title="{{ 'button.delete'|trans }}">
                                    <i class="fas fa-trash"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </template>
    </modal>

    {# Buttons #}
    <div class="quick-buttons">
        <div class="wrapper">
            {% for index, item in widget.data.items %}
                {% if widget.config[index] is defined %}
                    <a href="{{ path(item.route) }}" class="{{ item.linkClass }}">
                        <i class="fas fa-{{ item.icons }}"></i>
                        <span class="caption">{{ item.name|trans }}</span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
