{# Template Parts #}
{% extends "@Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title('account_group_new_title'|trans ) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <a href="{{ app.session.get('backUrl') }}" class="back-icon"><i class="material-icons">arrow_back</i></a>
    <span class="text">{{ 'account_group_new_title'|trans }}</span>
    <span class="desc">{{ 'account_group_new_desc'|trans }}</span>
{% endblock %}

{# Content Body #}
{% block content_body %}
    <div class="content-form">
        {{ form_start(form, { 'action': app.request.requestUri }) }}
        {{ form_row(form.name) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
