{% extends "@Admin/Auth/base.html.twig" %}

{% block head_title %}{{ title('security.reset_title'|trans) }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="auth resetting">
            <!-- Logo -->
            {% include '@Admin/Auth/logo.html.twig' %}

            <!-- Resetting Form -->
            <form action="{{ path('security_login') }}">
                <div class="header">
                    <h2 class="title">{{ 'security.reset_title'|trans }}</h2>
                    <div class="float-icon">
                        <a href="{{ path('security_login') }}" class="add" title="{{ 'security.login_title'|trans }}"><i class="material-icons">security</i></a>
                    </div>
                </div>

                <div class="form-group auth-message">
                    {% if sendEmail %}
                        {{ 'security.reset_emailsend'|trans }}
                    {% else %}
                        {{ 'security.reset_completed'|trans }}
                    {% endif %}
                </div>

                <div class="submit">
                    <button type="submit" class="btn btn-lg btn-primary">{{ 'security.login_title'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
