{% extends "Auth/base.html.twig" %}

{% block head_title %}{{ title('security.login_title'|trans) }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="auth">
            <!-- Logo -->
            {% include 'Auth/logo.html.twig' %}

            <!-- Login Form -->
            <form action="{{ path("security_login") }}" method="post">
                <div class="header">
                    <h2 class="title">{{ 'security.login_title'|trans }}</h2>
                    <div class="float-icon">
                        <a href="{{ path('security_register') }}" class="add" data-toggle="tooltip" title="{{ 'security.register'|trans }}"><i class="material-icons">add</i></a>
                        <a href="{{ path('security_resetting') }}" class="forgot" data-toggle="tooltip" title="{{ 'security.forgot_password'|trans }}"><i class="material-icons">email</i></a>
                    </div>
                </div>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% for label,message in app.session.flashBag.all %}
                    {% if label == 'error' %}{% set label = 'danger' %} {% endif %}
                    {% for msg in message %}
                        <div class="alert alert-{{ label }}">{{ msg }}</div>
                    {% endfor %}
                {% endfor %}

                <div class="form-group"><input name="_username" value="{{ last_username }}" type="email" class="form-control" placeholder="{{ 'security.login_username'|trans }}" required autofocus></div>
                <div class="form-group"><input name="_password" type="password" class="form-control" placeholder="{{ 'security.login_password'|trans }}" required></div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="_remember_me" id="_remember_me" value="on"/>
                        <label class="custom-control-label" for="_remember_me">{{ 'security.login_rememberme'|trans }}</label>
                    </div>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

                <div class="submit">
                    <button type="submit" class="btn btn-lg btn-primary">{{ 'security.login_btn'|trans }}</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
