{# Template Parts #}
{% extends "@Admin/base.html.twig" %}

{# Document #}
{% block head_title %}{{ title(page_title|trans) }}{% endblock %}

{# Content Title #}
{% block content_head %}
    <span class="text">{{ page_title|trans }}</span>
    <span class="desc">{{ page_description|trans }}</span>
    <a href="#" class="addbtn btn-success" data-toggle="modal" data-target="#cacheModal" data-tooltip title="{{ 'admin_refresh_cache'|trans }}"><i class="material-icons">refresh</i></a>
{% endblock %}

{# Content Navigation #}
{% block content_nav %}{{ pd_menu_render('App\\Admin\\Menu\\SettingsMenu') }}{% endblock %}

{# Content Body #}
{% block content_body %}
    {% include "@Admin/System/Settings/refreshCache.html.twig" %}

    <div class="content-form">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block scripts %}
    <script>
      var hideClass = '.form-group.row';
      var textItems = $('input[name*=media_wm_font], input[name*=media_wm_font_text],' +
        'input[name*=media_wm_font_size], input[name*=media_wm_font_color], input[name*=media_wm_font_align],' +
        'input[name*=media_wm_font_valign], input[name*=media_wm_font_x], input[name*=media_wm_font_y], input[name*=media_wm_font_angle]');
      var imageItems = $('input[name*=media_wm_image], select[name*=media_wm_image_position],' +
        'input[name*=media_wm_image_x], input[name*=media_wm_image_y]');

      function changeWatermarkStatus(textStatus, imageStatus) {
        $.each(textItems, function (index, elem) {
          $(elem).closest(hideClass).toggleClass('hidden', textStatus);
        });

        $.each(imageItems, function (index, elem) {
          $(elem).closest(hideClass).toggleClass('hidden', imageStatus);
        });
      }

      $(function () {
        /**
         * Image Watermark Selection
         */
        $('input[name="media_form[media_watermark]"]').change(function () {
          switch ($(this).val()) {
            case 'text':
              changeWatermarkStatus(false, true);
              break;
            case 'image':
              changeWatermarkStatus(true, false);
              break;
            default:
              changeWatermarkStatus(true, true);
          }
        });

        /**
         * Image Optimization Selection
         */
        $('input[name="media_form[media_optimize]"]').change(function () {
          var items = $('input[name*=media_max_height], input[name*=media_max_width], input[name*=media_quality]');
          var status = $(this).val() == 1 ? false : true;

          $.each(items, function (index, elem) {
            $(elem).closest(hideClass).toggleClass('hidden', status);

            $('input[name="media_form[media_watermark]"]').prop('disabled', status);
            if (status) {
              changeWatermarkStatus(true, true);
            } else {
              $('input[name="media_form[media_watermark]"]:checked').trigger('change');
            }
          });
        });

        // Page Load Trigger
        $('input[name="media_form[media_optimize]"]:checked').trigger('change');
      })
    </script>
{% endblock %}
