{% extends "Auth/base.html.twig" %}

{% block head_title %}{{ title('security.resetpw_title'|trans) }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h3 class="title">{{ 'security.resetpw_title'|trans }}</h3>

    <!--Widgets-->
    <div class="mb-3">
        {{ form_label(form.plainPassword.first) }}
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-envelope"></i></span>
            {{ form_widget(form.plainPassword.first) }}
        </div>
    </div>
    <div class="mb-4">
        {{ form_label(form.plainPassword.second) }}
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-envelope"></i></span>
            {{ form_widget(form.plainPassword.second) }}
        </div>
    </div>

    <!--Submit-->
    <div class="form-group">
        <button type="submit" class="btn w-100 btn-primary">{{ 'security.resetpw_title'|trans }}</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
