{% extends "Auth/base.html.twig" %}

{% block head_title %}{{ title('security.reset_title'|trans) }}{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <h3 class="title">{{ 'security.reset_title'|trans }}</h3>

    <div class="mb-4">
        {{ form_label(form.username) }}
        <div class="input-group">
            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-envelope"></i></span>
            {{ form_widget(form.username) }}
        </div>
        {{ form_errors(form.username) }}
    </div>

    <!--Submit-->
    <div class="form-group">
        <button type="submit" class="btn w-100 btn-primary">{{ 'security.reset_btn'|trans }}</button>
    </div>

    <!--Login-->
    <div class="w-100 text-center mt-3">
        <a href="{{ path('security_login') }}">
            <span class="text-muted">Already have an account?</span>
            <b>{{ 'security.login_btn'|trans }}</b>
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}
